<p id="notice"><%= notice %></p>

<h1>대기중</h1>

<table>
  <thead>
    <tr>
      <div>
        <th>출발지</th>
      </div>
      <div>
        <th>구</th>
        <th>동</th>
        <th>상세주소</th>
      </div>    
      <th>이름</th>
      <th>학번</th>
      <th>학과</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.start %></td>
        <td><%= list.gu %></td>
        <td><%= list.dong %></td>
        <td><%= list.juso %></td>
        <td><%= list.name %></td>
        <td><%= list.number %></td>
        <td><%= list.degree %></td>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path %>
