<section id="first">
  <center>
  <p style="font-size : 8rem">GaCheeTa</p>
 
  <div style = "font-size : 3.5rem">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :아이디 %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
    
      <div class="field">
        <%= f.label :비밀번호 %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :계정_기억하기 %>
        </div>
      <% end -%>
    
      <div class="actions">
        <%= f.submit "승차하기" %>
      </div>
    <% end %>
    
    
    <%= render "devise/shared/links" %>
    </center>
  </div>
</section>